# Auto created {{datetime}} by confd generator
{{range $main_domain := lsdir "/services"}}
upstream {{base $main_domain}}_pool {
  {{range gets (printf "/services/%s/*" $main_domain)}}
    server {{ .Value }};
  {{end}}
}
server {
  server_name {{$main_domain}};
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://{{base $main_domain}}_pool;
  }
}
{{end}}
