# Auto created {{datetime}} by confd generator
{{range $dir := lsdir "/services/web"}}{{$main_domain := getv (printf "/services/web/%s/main_domain" $dir)}}
upstream {{base $dir}}_pool {
  {{range jsonArray (getv (printf "/services/web/%s/servers" $dir))}}
    server {{ .ip }}:{{ .port }};
  {{end}}
}
{{$alias_key := printf "/services/web/%s/aliases" $dir}}{{if exists $alias_key}}
server {
  server_name {{getv $alias_key}};
  return 301 $scheme://{{$main_domain}}$request_uri;
}
{{end}}
server {
  server_name {{$main_domain}};
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://{{base $dir}}_pool;
  }
}
{{end}}
