# Auto created {{datetime}} by confd generator
{{range $main_domain := lsdir "/services/web"}}
upstream {{base $main_domain}}_pool {
  {{range gets (printf "/services/web/%s/servers/*" $main_domain)}}{{$data := json .Value}}
    server {{ $data.ip }}:{{ $data.port }};
  {{end}}
}
{{$alias_key := printf "/services/web/%s/aliases" $main_domain}}{{if exists $alias_key}}
server {
  server_name {{getv $alias_key}};
  return 301 $scheme://{{$main_domain}}$request_uri;
}
{{end}}
server {
  server_name {{$main_domain}};
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://{{base $main_domain}}_pool;
  }
}
{{end}}
